/*
Kavin Suhirtharen
10/2/2019
CSS Style Sheet of Quarter One Project
http://students.imsa.edu/~ksuhirtharen/En3rgy.css

I was assigned Goal 7 For My Quarter 1 Project. As a result, my Quarter 1 Project is a collection of pages about a non-profit
organization called En3rgy. En3rgy is committed to solving Goal 7, and attempts to do this by sending their volunteers to 
lower developed countries and try to help establish a more reliable energy source. Through this project, there are 5 pages,
a Homepage, an About Us Page, a Goal 7 Information page, an Interest form Page, and a Thank You page for the interest form.

The purpose of this page was to style the rest of the pages.
**/

/*Sticky Navbar With Black to Gray Gradient*/
/*Styles for the Navbar*/
ul {
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(black, #282828);
    top: 0;
    position: sticky;
    list-style-type: none;
    margin: 0;
    border: 1px #161616;
}

body {
    background-image: linear-gradient(black, #282828);
    margin-left: 0;
    margin-right: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
    font-family: Tahoma;
    font-weight: bold;
}

li a:hover:not(.current) {
    background-color: #ACAF00;
}

/*Various Header and Paragraph Styles*/
h1 {
    color: black;
    font-style: italic;
    text-align: center;
    font-family: Georgia;
    font-size: 30pt;
}

h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
    font-size: 20pt;
}

h3 {
    color: #2d2d2d;
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
    font-size: 10pt;
}

h4 {
    color: black;
    font-style: italic;
    text-align: center;
    font-family: Georgia;
    font-size: 50pt;
}


p {
    color: white;
}

/*Styles Buttons & Forms*/
form {
    text-align: center;
    font-size: 12pt;
    font-family: Courier New;
    color: #00c106;
}

.button {
    background-color: #333300;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1.0;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

label {
    color: white;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 100pt;
    height: 30pt;
    font-size: 14pt;
    font-family: Tahoma;
    font-weight: bold;
    background: black;
    color: white;
}

input {
    border: 4px;
    border-radius: 1px;
    border-color: black;
    background-color: #eaeaea;
    font-family: Tahoma;
}

input[type=reset] {
    border-radius: 5px;
    border: 0;
    width: 100pt;
    height: 30pt;
    font-size: 14pt;
    font-family: Tahoma;
    font-weight: bold;
    background: black;
    color: white;
}

input [type=radio] {
    color: white;
}

input [type=checkbox] {
    border: 4px;
    border-radius: 1px;
    border-color: black;
    background-color: #eaeaea;
    font-family: Tahoma;
}

textarea {
    font-family: Tahoma;
}

#form {
    color: white;
}

/*Styles fieldset*/
fieldset {
    border-radius: 10pt;
    border-color: white;
    display: inline-block;
    width: 60%;
    font-size: 14pt;
    color: black;
    margin-bottom: 5pt;
    text-decoration: bold;
    font-family: Georgia;
}

/*Styles logo found on Homepage*/
#logoHome {
    margin-right: auto;
    width: device-width;
    display: block;
    margin-left: auto;
}

/*Disclaimer Styles*/
#disclaimer {
    text-align: center;
    font-family: Tahoma;
    font-size: 8pt;
    color: white;
}

#disclaimer2 {
    text-align: center;
    font-family: Tahoma;
    font-size: 8pt;
    color: black;
}

#disclaimer3 {
    text-align: center;
    font-family: Tahoma;
    font-size: 8pt;
    color: white;
}

/*Text Classes*/
#founder {
    text-align: center;
    font-family: Georgia;
    font-size: 16pt;
    color: black;
}

.text {
    font-family: Helvetica;
    color: #1c1c1c;
}


.white {
    color: white;
}

/*Class Used to Show What Page Person is on in the Navbar*/
.current {
    background-color: #D2D511;
}

/*Classes Used to Make the Parallax Effect on Each Page*/
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.effectHome {
    background-image: url("Whiteagain.png");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectHome2 {
    background-image: url("White.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectHome3 {
    background-image: url("KavinPlayground.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectAbout {
    background-image: url("UN Volunteer.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectAbout2 {
    background-image: url("Lightbulbs.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectAbout3 {
    background-image: url("UN Sun Panel.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectGoal7 {
    background-image: url("UN Solar Goal 7.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectGoal71 {
    background-image: url("UN Plant.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectGoal72 {
    background-image: url("UN Windmill.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectInterest {
    background-image: url("UN Volunteers.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.effectThankYou {
    background-image: url("People Waving.jpg");
    height: 600px;
	background-image: linear-gradient(#036635, #BBD7BA );;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Table Styling */
table  {
	border-collapse: collapse;
}

table, th, td  {
	border: 5px inset #D2D511;
	color: Black;
	font-family: Tahoma;
}

/*Styles sections found throughout website*/
.section {
    color: #777;
    background-color: #BBD7BA ;
    text-align: center;
    padding: 2% 6%;
	border-color: #036635;
	border-style: groove;
	border-width: 10pt;
}

.section1 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 2% 6%;
}

.sectionForm {
    color: white;
    background-image: linear-gradient(black, #444444);
    text-align: center;
    border-radius: 12pt;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: #D2D511;
    border-width: 5pt;
    width: 70%;
    height: auto;
}

.sectionSlide {
    background-color: white;
    padding-bottom: 0%;
}


.topPage {
    font-size: 20pt;
}

/*Fade In Animations at Different Speeds*/
.fadeIn {
    animation: fadeIn ease 1.5s;
}

.fadeInFast {
    animation: fadeIn ease 0.8s;
}

/*CSS3 To Define the Fade in Animation*/
.transparentBox {
    background-color: black;
    opacity: 0.35;
    width: 100%;
    position: absolute;
    top: 74%
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Defines Boundaries of the Slideshow*/

.fling-minislide {
    width: 525px;
    height: 450px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
}

.fling-minislide img {
    position: absolute;
    animation: fling-minislide 13s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

@keyframes fling-minislide {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

/*Time Intervals for Each Slide*/
.fling-minislide img:nth-child(4) {
    animation-delay: 0s;
}

.fling-minislide img:nth-child(3) {
    animation-delay: 3.5s;
}

.fling-minislide img:nth-child(2) {
    animation-delay: 7s;
}

.fling-minislide img:nth-child(1) {
    animation-delay: 10.5s;
}

/*
Sources:
W3 Schools, Learn-HTML, & CodeAcademy
All images are from official UN pages, Google, & Pixabay
*/